asgiref==3.7.2
blinker==1.6.2
click==8.1.5
coverage==7.2.7
dj-database-url==0.5.0
Django==3.2.20
Flask==2.3.2
Flask-SQLAlchemy==2.5.1
greenlet==2.0.2
gunicorn==21.0.1
itsdangerous==2.1.2
psycopg2==2.9.6
psycopg2-binary==2.9.6
pytz==2023.3
SQLAlchemy==1.4.46
sqlparse==0.4.4
Werkzeug==2.3.6
